.cards{
    margin-top: 180px;
    margin-left: 440px;
    
}
.cards1{
    margin-top: 180px;
    margin-left: 43px;
    
}

.cardgrp{
    display: flex;

   
}
.matp1{
    position:absolute;
    margin-left: 55%;
    margin-top: 7%;
    font-size: 25px;
    font-weight: bold;
}
